{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}

<div class="ui middle aligned center aligned grid">
      <div class="column custom-column">
          <h2 class="ui custom-image header">
            <div class="content">
              Have you used NUS Questions Bot on Telegram before? <br> <br>
              Type <u>/verify</u> into your Telegram chat with NUS Questions Bot to
              get your One-Time password!
            </div>
          </h2>
          <form action="/auth/register_otp" method="POST" class="ui large form">
          <div class="ui stacked secondary  segment">

          {{ form.hidden_tag() }}
          {{ render_field_with_errors(form.otp) }}
          {{ render_field(form.submit, class='ui button large fluid green') }}
          </div>
          </form>
          <h3> If not, please continue to the main page <a href="/">here</a></h3>
{% endblock %}
