{% extends 'layout.html' %}
{% import 'knowledgebase/cards/question_card.html' as qc %}

{% block content %}
<!-- Code for Module Cards to dim and show text-->
<div class="ui five column grid" style="margin-top:2px; margin-bottom:8px">
    <div class="column custom-nopadding">
    <a href="javascript:history.back()" class="ui" style="color:gray">Go Back</a>
    </div>
    <div class="column custom-nopadding"></div>
    <div class="column custom-nopadding">
        <h3 class="ui header custom-align-center" style="color:teal">{{channel_name.upper()}}</h3>
    </div>
    <div class="column custom-nopadding"></div>
    <div class="column custom-nopadding"></div>
</div>

<div class="custom-80percent-width" style="margin-left: auto; margin-right: auto">
	{% if questions.all()|length > 0 %}

		<p class="ui header">Newest</p>
	  {% for question in questions %}
	    <div class="column">
	      {{qc.question_card(question)}}
	    </div>
	  {% endfor %}

		<p class="ui header">Highly Voted</p>
	  {% for question in questions %}
	    <div class="column">
	      {{qc.question_card(question)}}
	    </div>
	  {% endfor %}

	{% else %}
		<div class="text" align="center">
	    <h3 class="ui header" style="margin-top:10px; color:teal"> No questions for this module yet </h3>
	    <p style="color: teal"> Be the first to ask a question! Head over to the our Telegram bot by searching @NUSQuestionsBot!</p>
		</div>
	{% endif %}
</div>

{% endblock %}
