{% extends "layout.html" %}
{% import "knowledgebase/cards/faculty_card.html" as fc%}


{% block content %}
<!-- Code for Faculty Cards to show text-->
<script>
$(document).ready(function() {
    var content = {{ search_content|safe }}

    $('.ui.search')
      .search({
        source: content
      })
    ;
});
</script>

{% if faculties|length > 0 %}
    <h3 class="ui header centered" style="color:teal; margin-top:0px">Faculties</h3>
    <div class="ui three column grid">
        <!--
        {% for module in modules %}
            <div class="column">
                {{mc.module_card(module)}}
            </div>
        {% endfor %}
        -->
        {% for faculty in faculties %}
            <div class="column">
                {{fc.faculty_card(faculty)}}
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1> No faculties yet! </h1>
{% endif %}
{% endblock %}
