{% extends 'layout.html' %}
{% import 'knowledgebase/cards/answer_card.html' as ac %}

{% block content %}
<!-- Code for Module Cards to dim and show text-->

</script>
{% if answers.all()|length > 0 %}
    <div class="ui one column grid container centered padded">
      <div class="ui comments">
      	<h3 class="ui dividing header">{{answers[0].question.text}}</h3>
          {% for answer in answers %}
              <div class="column centered">
                  {{ac.answer_card(answer)}}
              </div>
          {% endfor %}
      </div>
    </div>
{% else %}
    <h1> No answers for this question yet! </h1>
{% endif %}
{% endblock %}
