{% macro answer_card(answer, current_user, vote_status) %}
  <div class="comment">
    <a class="ui avatar circular image">
      <img src={{answer.user.get_url_for_image()}}>
    </a>
    <div class="content">
      <a class="author">{{answer.user.name}}</a>
      <div class="metadata">

      {% set upvote_function = "vote_answer_up(" ~ answer.id ~ ")"%}
      {% set downvote_function = "vote_answer_down(" ~ answer.id ~ ")" %}
      {% set upvote_id = answer.id ~ "_up" %}
      {% set downvote_id = answer.id ~ "_down" %}

      {% set has_upvoted = vote_status == 1 %}
      {% set has_downvoted = vote_status == -1 %}

          {% if current_user.is_authenticated %}
            {% if has_upvoted %}
            <button id={{upvote_id}} onclick={{upvote_function}} class="ui mini compact icon circular green button" style="margin-top: -5px">
            {% else %}
            <button id={{upvote_id}} onclick={{upvote_function}} class="ui mini compact icon circular basic green button" style="margin-top: -5px">
            {% endif %}
            <i class="chevron up icon"></i>
            </button>
          {% endif %}

        <span class="votes">{{answer.votes.count()}} Vote{{answer.votes.count()|pluralize}}</span>
          {% if current_user.is_authenticated %}
            {% if has_downvoted %}
            <button id={{downvote_id}} onclick={{downvote_function}} class="ui mini compact icon circular red button" style="margin-top: -5px">
            {% else %}
            <button id={{downvote_id}} onclick={{downvote_function}} class="ui mini compact icon circular basic red button" style="margin-top: -5px">
            {% endif %}
            <i class="chevron down icon"></i>
            </button>
          {% endif %}

        <span class="date">{{answer.date_created.strftime('%d %b %Y %H:%M')}}</span>
      </div>
      <div class="text">{{answer.text}}</div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
     <!--
  <div class="comment">
    <a class="avatar">
      <img src="../../static/404.jpg">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
        <i class="users icon"></i>
        <span class="votes">2 Votes</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>

  <div class="comment">
    <a class="avatar">
      <img src="../../static/404.jpg">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
        <i class="users icon"></i>
        <span class="votes">2 Votes</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well! This has been very useful for my research. Thanks as well! This has been very useful for my research. Thanks as well! This has been very useful for my research. Thanks as well! This has been very useful for my research. Thanks as well! This has been very useful for my research. Thanks as well! This has been very useful for my research. Thanks as well! This has been very useful for my research. Thanks as well! This has been very useful for my research. Thanks as well! This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="../../static/404.jpg">
        </a>
        <div class="content">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
            <i class="users icon"></i>
            <span class="votes">2 Votes</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
        </div>
      </div>
    </div>
  </div>
-->
{% endmacro %}
