{# myapp/templates/knowledgebase/module_card.html #}
{# Assume that we are passed in a variable called 'module' #}
{# A macro plugin for a Module card #}
{% macro module_card(module) %}
  {% set selected_color = random_color() %}
   <div class="{{selected_color}} ui link special cards">
     <div class="card">
       <!--<div class="blurring dimmable image">
         <div class="ui dimmer">
           <div class="content">
             <div class="center">
               <div class="ui inverted button">Add Channel</div>
             </div>
           </div>
         </div>
         <img src="{{url_for('static', filename='404.jpg')}}">
       </div>-->
       <div class="content">
         <a href="{{url_for('knowledgebase.channel', channel_name=module.name)}}" class="header">{{module.name.upper()}}</a>
         <div class="meta">
           {#<span class="date">{{module.questions|length}}</span>#}
         </div>
       </div>
       <div class="extra content">
         <a href="{{url_for('knowledgebase.channel', channel_name=module.name)}}">
           <i class="users icon"></i>
           {{module.users|length}} Member{{module.users|length|pluralize}} | {{module.questions.count()}} Question{{module.questions.count()|pluralize}}
         </a>
       </div>
     </div>
   </div>
{% endmacro %}
