{% macro question_card(question) %}
  {% set selected_color = random_color() %}
   <div class="{{selected_color}} ui link special cards">
     <div class="ui card" style="width:100%">
       <div class="content">
          <a href="{{url_for('knowledgebase.question', question_id=question.id)}}" class="ui text custom-no-decoration" style="color:black">{{question.text}}</a>
       </div>
       <div class="extra content" style="padding-bottom:5px; padding-top:5px">
          <a href="{{url_for('knowledgebase.question', question_id=question.id)}}">
          <i class="users icon" style="margin-top: 3px"></i>
          {{question.answers.count()}} Answer{{question.answers.count()|pluralize}}
          <div class="right floated author">
            <img class="ui avatar circular image" src="{{question.user.get_url_for_image()}}"> Matt
          </div>
          </a>
       </div>
     </div>
   </div>
{% endmacro %}
