{% macro render_field_with_errors(field) %}
  <p>
    {{ field.label }}

    {% if field.errors %}

    <div class="field error">
      {{ field(**kwargs)|safe }}
        <div class="ui list">
          {% for error in field.errors %}
            <div class="icon item">
              <i class="warning sign icon"></i>
                <div class="content"><p>{{ error }}</p></div>
            </div>
          {% endfor %}
        </div>
    </div>

    {% else %}

    <div class="field">
    {{ field(class="field", **kwargs)|safe }}
    </div>

    {% endif %}
  </p>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}
