/* Hack because of ugly formatting of forms in templates/security/login_user.html */
.custom .ui.stacked.segment:after {
  border-width: 0px !important;
  background: rgba(0, 0, 0, 0);
}

.custom-reply-form {
  min-height: 3em !important;
  height: 3em !important;
}

/* To squeeze most pages into a decent width */
.custom-80percent-width {
  width: 80% !important;
}
/* Centering */
.custom-center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.custom-align-center {
  text-align: center !important;
}

.custom-borderless {
   border-style: none !important;
}

.custom-nopadding {
  padding: 1px !important;
}

.custom-no-decoration {
  text-decoration: none !important;
}

body > .grid {
  height: 100%;
}
/*
.custom-image {
  margin-top: 100px !important;

}
*/
.custom-column {
  max-width: 450px;
}

/* Layout */
/*
html,

body {
   margin:0;
   padding:0;
   height:100%;
   overflow-x: hidden;
}

#container {
   height: 100%;
   min-height: 100%;
   position: relative;
}


#body {
   margin: 20px;
   min-height: 100%;
}

#footer {
   bottom: 0;
   width: 100%;
   height: 50px;
   text-align: center;
}


.form-user {
   width: 33% !important;
   margin: 0 auto !important;
   margin-top: 10% !important;
}

.form-error {
   color: #E50000 !important;
}


.flash {
   margin-right: 20px !important;
}


.error-box {
   margin-top: 8%;
}

*/
