{# myapp/templates/macros.html #}

<!-- Highlight the current tab -->
{% macro nav_link(endpoint, text) %}
    {% if request.endpoint is not none %}
        {% if request.endpoint.endswith(endpoint) %}
            <a class="active teal item" href="{{ url_for(endpoint) }}">{{ text }}</a>
        {% else %}
            <a class="item" href="{{ url_for(endpoint) }}">{{ text }}</a>
        {% endif %}
    {% else %}
        <a class="item" href="{{ url_for(endpoint) }}">{{ text }}</a>
    {% endif %}
{% endmacro %}
