
<!-- HTML macros -->
{% import "macros.html" as m %}
<!DOCTYPE html>
<html lang="en">
        <div id="header">
            {% block head %}
                <meta name='viewport' content='initial-scale=0.5,maximum-scale=1,user-scalable=no'/>
                <meta charset="UTF-8">
                <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
                <!-- jQuery -->
                <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
                <script src={{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}>
                </script>

                <!-- Semantic Main CSS -->
                <link rel="stylesheet" href="{{url_for('static', filename='bower_components/semantic/dist/semantic.min.css')}}"/>
                <!-- Semantic Reset CSS -->
                <link rel="stylesheet" href="{{url_for('static', filename='bower_components/semantic/dist/components/reset.min.css')}}"/>
                <!-- Semantic Menu CSS -->

                <link rel="stylesheet" href="{{url_for('static', filename='bower_components/semantic/dist/components/menu.min.css')}}"/>
                <!-- Main Semantic JS  -->

                <script src={{url_for('static', filename='bower_components/semantic/dist/semantic.min.js')}}>
                </script>
                <!-- Custom CSS -->
                <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
                <!-- Browser tab name -->
                <title>{{ title }}</title>
                {% endblock %}
        </div>
        <div id="body" class="body">
            {% block content %}{% endblock %}
        </div>
</html>
